*{
padding: 0;
margin: 0;
}

.main-content {
background-color: black;
color: white;
display: flex;
flex-direction: column;
}

.nav-container {

background-color: green;
color: white;
}

.content {
background-color: black;
color: white;
}

.footer-container {
background-color: green;
color: white;
}
