* {
padding: 0;
margin: 0;
}

.main-content {
height: 100vh;
width: 100vw;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;

}

.nav-container {
height: 150px;
width: 100vw;
background-color: green;
color: white;
}

.content {
height: 100vh;
width: 100vw;
background-color: white;
color: black;
}

.footer-container {
height: 150px;
width: 100vw;
background-color: green;
color: white;
}
