* {
    margin: 0;
    padding: 0;
    /* display: none; */
  }

body{
    max-width: 80%;
    background-color: lightsteelblue;
    margin: 10% 10%;
}
h1 {
    color: grey;
}

img {
    width: 300px;
}

div {
    overflow: hidden;
    background-color: #333;
    width: auto;
    margin-bottom: 20px;
    padding: 0%  5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
  
div a {
    float: left;
    font-size: 16px;
    padding: 5% 10%;
    color: white;
    text-decoration: none;
}
div a:hover {
    padding: 5% 10%;
    font-size: 16px;
    background-color: red;
    
}
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: auto;
    align-content: center;
    font-size: 16px;
    color: white;
    padding: 10px 0px 10px 0px;

}

.help{
    padding: 0px 10px;
    color: blue;
}
.home{
    padding: 0px 10px;
    color: Green;
}
.errors {
    padding: 0px 10px;
    color: red;
}